[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
box2d-py = "==2.3.8"
pybullet = "*"
gym-minigrid = "*"
scikit-optimize = "*"
optuna = "*"
pytablewriter = "*"
seaborn = "*"
sb3-contrib = ">=1.0"
PyYAML = ">=5.1"
ipython = "*"
gym = "*"
black = "*"

[dev-packages]

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true

[packages.stable-baselines3]
extras = [ "extras",]
